<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg"%>
  </div>

  <div id="content">
    <h1>Hi, I'm Jeannette D.</h1>
    <p>Welcome to my rails blog project</p>
    <p>This was a fun blog to build with so many features.</p>
  </div>

</div>
